.menu-item-header{
    text-align: center;
    color: #EF3A42;
}

.menu-item-desc{
    text-align: center;
    color: black;
}
.centerer{
    text-align: center;
}

.menu-section{
    text-align: center;
}