<h2>The Loudogs Story</h2>

<p>It began in the summer of 1982. That's when Lou Subashi opened up a hot dog cart on 75th street
 Beach in Sea Isle City. Before you could spit out an order for...
</p>

<h1>"a dog with German mustard, ketchup, diced onions and a hint of kraut to taste"</h1>

<p>
... the LouDog was born.
</p>

<p>
  It quickly became more than just a local business, but instead a family, 
  community, a go-to in Sea Isle.
</p>

<p>
  That famous cart stood on 75th Street for 28 years. The dedication and loyalty of Lou Dog customers
  allowed us to expand our menu and open up a shop located right in the heart of town on
  38th & Pleasure with the same dogs, still on that famous roll... babe!
</p>