<div *ngIf="!mobileNavShowing" class="navigation-wrapper">
  <div class="row">

    <div class="col" *ngFor="let route of navigationRoutes">
      <div class="navigation-item" routerLink="/{{route.route}}">{{route.label}}</div>
    </div>
  </div>
</div>
<div *ngIf="mobileNavShowing" class="mobile-nav-wrapper">

  <div class="mobile-menu" (click)="showNav(!navShowing)">
    <span class="hamburger"></span>
    <span class="hamburger"></span>
    <span class="hamburger"></span>
  </div>
  <div class="mobile-nav-items-wrapper" [@nav-state]="showNav()">
    <div class="row">
      <div class="col" *ngFor="let route of navigationRoutes">
        <div class="navigation-item" (click)="resetMenu()" routerLink="/{{route.route}}">{{route.label}}</div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row"> -->
<router-outlet></router-outlet>
<!-- </div> -->