
.navigation-wrapper{
    background-color: #EF3A42;
}
.navigation-item{
    background-color: #EF3A42;
    transition: background-color 500ms ease;
    -webkit-transition: background-color 500ms ease;
    text-align: center;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
}

.navigation-item:hover{
    background-color: rgba(128,0,6,0.5);
    cursor: pointer;
}

.navigation-item:focus {
    outline:0;
}

ul{
    list-style: none;
    li{
        display: inline-block;
        border-right: solid thin black;
        border-right: solid thin black;
        text-align: center;

    }
}